// app-login {

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%!important;
  max-width: 100%;
  height: 100%;
  background-color: black;
  z-index: 99;
}

.loginBG {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/ressources/loginBG-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: breathe 10s ease alternate infinite;
}

.loginLogo {
  position: relative;
  top: 20px;
  left: 50px;
}
@keyframes breathe {
  0% {
    // transform: translate(0, 0);
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
    // transform: translate(-35px, -50px);
  }
}

.login_form {
  position: absolute;
  // height: 210px;
  width: 300px;
  top: calc(50% - 100px);
  left: calc(50% - 150px);
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid grey;
  border-radius: 10px;

  .username {
    position: relative;
    width: 110px;
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid #2F2F2F;
    font-size: 20px;
    font-size: 20px;
    margin-top: 15px;
  }

  .password {
    position: relative;
    width: calc(100% - 50px);
    margin: 10px 15px;
    border-bottom: 1px solid #2F2F2F;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .loginButton {
    display: inline-block;
    margin-left: 10px;
    margin-top: 15px;
    width: 130px;
    background-color: #FFF;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 10px;
  }

  .forgotPWButton {
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-top: 15px;
    width: 130px;
    background-color: #FFF;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 10px;
  }

  .loginTitle {
    text-align: center;
    color: #2F2F2F;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
  }
}
// @media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
//   .login_form {
//     width: 100%;
//     left: 0;
//   }
// }
// }

input {
  background-color: transparent;
  border: 0 solid;
  height: 30px;
  width: 260px;
  text-align: center;
  border-radius: 0;
}

input:focus {
  outline: none;
}