<div class="container">

  <div class="loginBG" id="bm">
  </div>
  <img class="loginLogo" src="/assets/ressources/logo_ikigai_white.png" routerLink="/home" alt="" draggable="false">

  <form class="login_form" (submit)="loginUser($event)">
    <!-- <a routerLink="/home">Home</a> -->
    <!-- <p [@loginAnimation]="state" (click)="animateMe()">Animate</p> -->
    <h1 class="loginTitle">Welcome,</h1>
    <input type="text" pattern="[0-9]*" name="username" class="username" value="" placeholder="ID" maxlength="6">
    <br>
    <input type="password" name="password" class="password" value="" placeholder="Password...">
    <br>
    <p class="loginButton">Go Inside</p>
    <p class="forgotPWButton" routerLink="/home">Forgot Password</p>
    <!-- <input type="submit" name="" class="loginButton" value="Go Inside ">
    <input type="button" name="" class="forgotPWButton" value="Forgot Password " routerLink="/home"> -->
  </form>
</div>

<script type="text/javascript">
  var aniamtion = "/assets/bg-animaton.json";

  var animation = bodymovin.loadAnimation({
    container: document.getElementById('bm'),
    renderer: 'svg',
    loop: true,
    autoplay: true,
    path: aniamtion
  });
  console.log("bananaaaaaaa");
</script>