<!-- <router-outlet>
</router-outlet> -->


<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="header">
    <img class="hamburger" *ngIf="openSide" (click)="collapse()" src="/assets/images/whiteCross.png" alt="">
    <img class="hamburger" *ngIf="!openSide" (click)="collapse()" src="/assets/images/hamburger.png" alt="">

    <img routerLink='/home' class="logo" src="/assets/images/logo_ikigai.png" alt="">
    <img class="logo" src="/assets/images/tardis.png" alt="">

    <div class="profil" routerLink='/login'>
      <img draggable="false" src="/assets/images/profil.jpg" alt="">
      <p>Arthur Marty</p>
    </div>
  </div>
  <div class="sidenav" [ngStyle]="sidenavStyle">

    <div (mouseenter)="toggleAdminMenu()" (mouseleave)="toggleAdminMenu()">
      <div class="cRow" [@collapseMenu]="sidenavState">
        <img src="/assets/images/administration.png">
        <p>Administration</p>
      </div>
      <p class="subMenu" routerLink='/convention' [@hideMenu]="AdminMenu">Convention</p>
      <p class="subMenu" routerLink='/payment' [@hideMenu]="AdminMenu">Paiement</p>
      <p class="subMenu" routerLink='/invoices' [@hideMenu]="AdminMenu">Factures</p>
    </div>

    <div (mouseenter)="toggleMentorMenu()" (mouseleave)="toggleMentorMenu()">
      <div class="cRow" [@collapseMenu]="sidenavState">
        <img src="/assets/images/rdvMentor.png">
        <p>Rdv Mentor</p>
      </div>
      <p class="subMenu" [@hideMenu]="MentorMenu">Convention</p>
      <p class="subMenu" [@hideMenu]="MentorMenu">Payment</p>
      <p class="subMenu" [@hideMenu]="MentorMenu">Factures</p>
    </div>

    <div>
      <div class="cRow" [@collapseMenu]="sidenavState">
        <img src="/assets/images/ressources.png">
        <p>Ressources</p>
      </div>
    </div>
    <div>
      <div class="cRow" [@collapseMenu]="sidenavState">
        <img src="/assets/images/reseau.png">
        <p>Réseau</p>
      </div>
    </div>
    <div>
      <div class="cRow" [@collapseMenu]="sidenavState">
        <img src="/assets/images/reserverSalle.png">
        <p>Réserver Salle</p>
      </div>
    </div>

  </div>
  <div class="main" [ngStyle]="mainStyle">
    <main [@fadeAnimation]="getPage(o)">
      <router-outlet #o="outlet"></router-outlet>
    </main>
  </div>
</div>