.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  // background-color: #003B6F;
  // background-color: #384c5a;
  background-color: #133046;

  .hamburger {
    height: 20px;
    width: auto;
    padding: 30px 25px 30px 30px;
  }

  .logo {
    height: 50px;
    width: auto;
    padding: 15px 15px 15px 0;
  }

  .profil {
    float: right;

    img {
      height: 40px;
      width: auto;
      border-radius: 100%;
      margin-right: 20px;
      margin-top: 20px;
    }

    p {
      color: white;
      display: inline-block;
      line-height: 80px;
      margin: 0;
      float: right;
      margin-right: 20px;
      font-family: 'Special Elite';
      font-size: 20px;
    }
  }
  z-index: 11;
}

.sidenav {
  position: fixed;
  top: 80px;
  left: 0;
  width: 200px;
  height: 100%;
  // background-color: #ff371f;
  background-color: #cf6250;
  -webkit-box-shadow: 5px 0 20px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 0 20px -4px rgba(0,0,0,0.75);
  box-shadow: 5px 0 20px -4px rgba(0,0,0,0.75);
  z-index: 10;
  -webkit-transition: 800ms linear;
  transition: 800ms linear;
  overflow: hidden;

  div {
    border-bottom: 1px solid white;

    .cRow {
      border: none;

      p {
        border: none;
        position: absolute;
        top: 0;
        left: 60px;
        -webkit-transition: 800ms;
        transition: 800ms;
      }
    }

    img {
      width: 50px;
      height: auto;
      text-align: center;
      padding: 20px 0;
    }

    p {
      font-family: 'Special Elite';
      font-size: 20px;
      text-align: center;
      width: 100%;
      color: white;
      margin: 0;
      padding: 40px 0;
      // line-height: 40px;
      box-sizing: border-box;
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
      overflow: hidden;
    }

    .subMenu {
      border-bottom: 1px solid rgba(255, 255, 255, 0.6);
      background-color: rgba(255, 255, 255, 0.4);
      padding: 10px 0;
      font-size: 16px;
      margin: 0;
      -webkit-transition: height 800ms;
      /* Safari */
      transition: height 800ms;
    }
  }
}

.main {
  position: absolute;
  top: 80px;
  left: 0;
  width: calc(100% - 200px);
  // width: 100%;
  height: calc(100% - 80px);
  // background-color: #eaca63;
  background-color: #efe4b8;
  padding-left: 50px;
  box-sizing: border-box;
  -webkit-transition: 800ms linear;
  transition: 800ms linear;
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transition: 3s;
  /* Safari */
  transition: 3s;
}